[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
innodb_default_row_format=dynamic
innodb_file_format=barracuda
innodb_file_per_table=true
innodb_large_prefix=true
[client]
socket=/var/lib/mysql/mysql.sock

!includedir /etc/my.cnf.d
